body{
    width: 100%;
    margin: 0;
}

.all{
    
    width: 500px;
    justify-self: center;
}
.Header {
    padding: 10px;
    background-color: antiquewhite;
    box-shadow: 10px 5px 10px black;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.Listes li {
    list-style: none;
    display: inline;
    justify-content: space-around;
    margin-left: 20px;
    margin-left: 20px;
    text-decoration: none;

}

.Listes a {
    text-decoration: none;

}

.Listes a:hover {
    color: red;
    scroll-behavior: smooth;

}

.lorem {
    color: grey;
}

.Logo {
    font-size: 25px;
    align-items: center;
}

.Logo b {
    color: red;
}

.paragraphe {
    text-align: center;
}

.button {
    color: white;
    background-color: red;
    height: 30px;
    width: 80px;
    cursor: pointer;
    border-radius: 20px;

}
body h1{
    margin-top: 100px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color:red ;
    text-align: center;
}
.formulaire{
    text-align: center;
        
}
.formulaire input{
    width: 50%;
    padding-top: 10px;
    
}
.button3{
    color: white;
    background-color: red;
    width: 50%;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;

    
}